
<div class="row form" id="collections">
	<div class="col-md-12">
		<div class="actions">

		<form class="simple_form new_collection" id="new_collection">
		<div>
			<label>Name</label>
			<input data-bind="value: data.name" />
		</div>

		<div>
			<label>Items</label>
			<input data-bind="value: data.item_ids" />
		</div>

		<div>
			<label>Collections</label>
			<input data-bind="value: data.collection_ids" />
		</div>

		</form>
		</div>
	</div>
</div>

<button id="save_collection" data-bind="click: saveCollection" class="btn btn-default">Create Collection</button>

<script>
var itemTypes = <%= ItemType.all().to_json(include: {metadata_sets: {include: :metadata_fields}}).html_safe %>
</script>

<select data-bind="options: itemTypes, value: itemType, optionsText: 'name'"></select>


<script type="text/html" id="field-template">
	<div data-bind="text: name"></div>
	<div data-bind="text: field_type"></div>
	<div data-bind="template: {name: field_type+'-template'}"></div>
	<!-- <div data-bind="template: {name: field_type+'-template', data: value}"></div> -->
</script>

<script type="text/html" id="text_field-template">
	<input data-bind="value: value" />
</script>

<script type="text/html" id="file-template">
	<input data-bind="value: value" />
</script>


<div data-bind="foreach: itemType().metadata_sets">
	<div data-bind="text: name"></div>
	<div data-bind="foreach: metadata_fields">
		<div data-bind="template: {name:'field-template', data: $data}"></div>
	</div>
</div>