<div class="form-inputs">
  <ul>
    <li>
      <validate-input params="{label: 'Name', value: data.name}"></validate-input>
    </li>
  </ul>

<ul data-bind="template: { name: 'metadata-set-template',
              foreach: data.metadata_sets_ids,
              as: 'metadata_set' }">          
</ul>


</div>


<button id="add_set" class="btn btn-default" data-bind="click: addMetadataSet">Add</button>
<button id="save_type" class="btn btn-default" data-bind="click: saveItemType">Save</button>

<% if @item_type.id %>
<script>
  var itemTypeId = <%= @item_type.id %> 
</script>
<% end %>

<script type="text/html" id="metadata-set-template">
  <li>
    <label>Metadata set</label>  
    <!-- <input type="" name="" data-bind="value: metadata_set.name"> -->
    <select data-bind="options: <%= MetadataSet.select(:id, :name).to_json %>, optionsText: 'name', optionsValue: 'id', value: id"></select>
    <a class="btn btn-danger remove-set" data-bind="click: $root.removeMetadataSet">X</a>
  </li>
</script>
