<dl>
	<dt>
		Name
	</dt>
	<dd>
		<%= @item_type.name %>		
	</dd>
	<dt>
		Metadata Sets
	</dt>
	<dd>
		<ul>
			<% @item_type.metadata_sets.each do |set| %>
			<li>
				<%= set.name %>
			</li>
			<% end %>		
		</ul>
	</dd>
</dl>