<div class="row">
	<div class="col-md-12">
    <ul>
    <% @root_collections.each do |collection| %>
      <li> <%= link_to collection.name, collection %></li>
    <% end %>
    </ul>
	</div>
</div>

