body {
	padding-top: 20px;
}

#store-map {
	width: 100%;
	height: 500px;
}

.bottom-20 {
	margin-bottom: 20px;
}

.scroll-vertically {
	height: 300px;
	overflow-y: scroll;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	background: #FF8833;
}