<script type="text/html" id="item-container">
	<li>
		<span data-bind="text: name, event: {mouseover: $root.mouseOver, mouseout: $root.mouseOut}"></span>
		<span data-bind="if: $root.itemsSelectable">
			<input type="checkbox" data-bind="checked: isChecked" />
		</span>
	</li>
</script>

<script type="text/html" id="collection-container">
	<li>
		<span data-bind="text: name"></span>
		<span data-bind="if: $root.collectionsSelectable">
			<input type="checkbox" data-bind="checked: isChecked" />
		</span>
		<span data-bind='if: collections.length'>
			<ul>
				<span data-bind="template: {name: 'collection-container', foreach: collections}"></span>
			</ul>
		</span>
		<span data-bind='if: items.length'>
			<!-- Items -->
			<ul>
				<span data-bind="template: {name: 'item-container', foreach: items}"></span>
			</ul>
		</span>
	</li>
</script>


<div class="row" id="collection-widget">
	<div class="col-md-12">		
		<div class="well scroll-vertically">

<!-- 		<button class='btn btn-default' data-bind="click: prevPage, css: {disabled: page() == 1}"><i class='fa fa-arrow-left'></i></button>
<span data-bind='text: page'></span> / <span data-bind='text: pages'></span>
<button class='btn btn-default' data-bind="click: nextPage, css: {disabled: page() == pages()} "><i class='fa fa-arrow-right'></i></button> -->

			<div class="results-scroll">
				<ul>
					<span data-bind="template: {name: 'collection-container', foreach: collections}"></span>
				</ul>
			</div>		
		</div>
	</div>
</div>