
<script type="text/html" id="field-template">
	<div data-bind="template: {name: field_type+'-template'}"></div>
	<!-- <div data-bind="template: {name: field_type+'-template', data: value}"></div> -->
</script>

<script type="text/html" id="text_field-template">
	<validate-input params="{label: name, value: value}"></validate-input>
</script>

<script type="text/html" id="file-template">
	<div data-bind="text: name"></div>
	<input data-bind="value: value" />
</script>

<script type="text/html" id="email-template">
	<validate-input params="{label: name, value: value}"></validate-input>
</script>

<script type="text/html" id="number-template">
	<validate-input params="{label: name, value: value}"></validate-input>
</script>

<script type="text/html" id="text_area-template">
	<validate-input params="{label: name, value: value}"></validate-input>
</script>

<script type="text/html" id="rich_text-template">
	<label data-bind="text: name"></label>
	<textarea data-bind="summernote: value"></textarea>
</script>


