    <div class="input-group" id="search-widget">
      <input type="text" class="form-control" data-bind="value: query" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-bind="click: search" ><i class="fa fa-search"></i></button>
      </span>
    </div>
