<div class="well">
	<div id="search-widget">
		<div class="row bottom-20">
			<div class="col-md-12">
		    <div class="input-group" >
		      <input type="text" class="form-control" data-bind="value: query" placeholder="Search">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" data-bind="click: search" ><i class="fa fa-search"></i></button>
		      </span>
		    </div>
		  </div>
		</div>

		<!-- dates start -->

			<div class="">
			    <div class=''>

			        <div class="form-group">
			        	<label>Start time</label>
			            <div class='input-group date' id='start-time-picker'>
			                <input type='text' class="form-control" data-bind="value: data.start_time" />
			                <span class="input-group-addon">
			                   	<i class="fa fa-calendar" aria-hidden="true"></i>
			                </span>
			            </div>
			        </div>
			    </div>
			    <div class=''>
			        <div class="form-group">
			        <label>End time</label>
			            <div class='input-group date' id='end-time-picker'>
			                <input type='text' class="form-control"  data-bind="value: data.end_time" />
			                <span class="input-group-addon">
			                    <i class="fa fa-calendar" aria-hidden="true"></i>
			                </span>
			            </div>
			        </div>
			    </div>
			</div> 
		
		<!-- dates end -->

		<!-- pagination -->

		<div class="row">
			<div class="col-md-12">
				<button class='btn btn-default' data-bind="click: prevPage, css: {disabled: page() == 1}"><i class='fa fa-arrow-left'></i></button>
					<span data-bind='text: page'></span> / <span data-bind='text: pages'></span>
					<button class='btn btn-default' data-bind="click: nextPage, css: {disabled: page() == pages()} "><i class='fa fa-arrow-right'></i></button>
			</div>
		</div>
	</div>
</div>